* {
    border: 2px ;
}

/*media query*/

    

body {
    background-color: gray;
}

p{
    color: antiquewhite;
}

/* nav bar */
nav {
    background-color: gray;
}

ul {
    text-align: right;
}

li {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 auto;
    padding: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}
/*for my avatar*/
.imgSection {
    width: fit-content;
    margin: 20px auto; 
       
}

.imgSection img {
    width: 200px;
    
}

/*images*/

.firstProject img {
    height: 300px;
    width: auto;
    padding: 2px;
    
}

.section img{
    padding: 20px;
    display: flex;
    flex-direction: row;    

}

.div img{
    display: inline-block;
    margin: auto;
    width: 100px;

}

/*for the titles to section off*/
.dividers{
    font-size: 30px
}

/* for the title of my projects*/
.eachTitles{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



